<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FH</title>
</head>
<body>

    <center>
    <h1>FAKULTAS HUKUM</h1>
    </center>

    <p align="justify">Fakultas Hukum Untirta pertama kali berdiri pada 1 Oktober 1981 dengan nama Sekolah Tinggi Ilmu Hukum (STIH) di bawah naungan Yayasan Pendidikan Tirtayasa Banten (YPTB). Pada tahun 1984, STIH menjadi Fakultas Hukum Untirta yang juga merupakan salah satu fakultas pertama pondasi berdirinya Untirta. Dapat dikatakan, Fakultas Hukum merupakan salah satu dari tiga fakultas tertua di Untirta.</p>
    <P><b><i>Prodi Fakultas Hukum, terdiri dari:</i></b></P>
    
    {% for judul in judul %}
        <li>{{ judul}}</li>
    {% endfor %}
    
</body>
</html>