<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FK</title>
</head>
<body>

    <center>
    <h1>FAKULTAS KEDOKTERAN</h1>
    </center>

    <p align="justify">Fakultas Kedokteran Untirta baru diresmikan pada tahun 2019 melalui SK Menteri Riset Teknologi dan Pendidikan Tinggi Republik Indonesia Nomor 283/KPT/I/2019. Fakultas Kedokteran menyediakan 4 jurusan dengan mengusung strategi untuk mendukung program kesehatan di provinsi Banten. Fakultas Kedokteran Untirta juga mempertimbangkan posisi strategis Banten dan memperhatikan banyaknya kawasan industri yang tersebar di Banten.</p>
    <p><b><i>Prodi Fakultas Kedokteran, terdiri dari:</i></b></p>
    
    {% for judul in judul %}
        <li>{{ judul}}</li>
    {% endfor %}
    
</body>
</html>