<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAPERTA</title>
</head>
<body>

    <center>
    <h1>FAKULTAS PERTANIAN</h1>
    </center>

    <p align="justify">Fakultas Pertanian berdiri pada tahun 1984 dan dikenal sebagai fakultas berwarna hijau di Untirta. Julukan itu tentunya disematkan atas dasar andil fakultas tersebut pada bidang pertanian tiap tahunnya. Pada tahun 2017, Fakultas Pertanian berhasil memiliki lahan pertanian baru di daerah Karang Triti kecamatan Baros. Luas lahan pertanian ini mencapai 19.494 m2.</p>
    <p><b><i>Prodi Fakultas Pertanian, terdiri dari:</i></b></p>

    {% for judul in judul %}
        <li>{{ judul}}</li>
    {% endfor %}

</body>
</html>